In [20]:
import numpy as np
import pandas as pd

In [21]:
filepath = './ETS Route Data/routes_elevation_working.csv'
colnames = ['time', 'speed', 'elevation', 'BUS ID', 'Date']
data = pd.read_csv(filepath, usecols=[0, 1, 2, 3, 10], names=colnames, header=0)

In [22]:
data.head()

   time  speed  elevation  BUS ID        Date
0   0.0    0.0        661    8026  2021-02-03
1  29.1   16.1        662    8026  2021-02-03
2  44.3   54.4        664    8026  2021-02-03
3  59.5   61.4        666    8026  2021-02-03
4  74.7   56.8        668    8026  2021-02-03

In [23]:
data['speed'] = np.where((data['speed'] > 120), 120, data['speed'] )
data['speed'] = np.where((data['speed'] < 0), 0, data['speed'] )
dfs = dict(tuple(data.groupby(['BUS ID','Date'])))

In [24]:
filepath = 'validation_testing/'
for key, value in dfs.items():
  block_id = 'id-'+ str(key).replace('(','').replace(')','').replace(' ','').replace("'",'').replace(',','-date-')
  path = filepath + block_id + '.csv'
  dfs[key].to_csv(path)

In [25]:
data[data['speed']>120]

Empty DataFrame
Columns: [time, speed, elevation, BUS ID, Date]
Index: []